*.csv
*.h5


# Python dependencies
Pipfile
Pipfile.lock

# Node.js dependencies
node_modules

# Tailwind CSS configuration
tailwind.config.js

# JavaScript dependencies
package.json
package-lock.json
