<!DOCTYPE html>
<html>
  <head>
    <title>Recommended Animes</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <div
      class="heading text-center text-[3rem] font-bold mt-5 mb-2 text-[#00CC99]"
    >
      <p>Recommended Anime</p>
      <a
        class="text-sm text-gray-400 hover:underline hover:text-[#00CC99] underline-offset-4"
        href="{{ url_for('home') }}"
        >&lt; Go back to Home</a
      >
    </div>
    <div class="w-full text-white">
      {% if recommendation_type == "user_based" %} {% if animes is none %}
      <p>{{ message }}</p>
      {% elif animes.empty %}
      <p>No recommendations found for this user.</p>
      {% else %}
      <div class="animes w-full flex ">
        <div class="flex flex-wrap justify-center ">
          {% for anime in animes.iterrows() %}
          <div
            class="card_container w-[18rem] flex flex-col rounded-2xl overflow-hidden shadow-2xl pb-2 m-3 bg-[#1c1c1cec]"
          >
            <div class="img w-[100%] flex justify-center h-[15rem] bg-gray-400">
              <img
                src="{{ anime[1]['anime_image_url'] }}"
                alt="{{ anime[1]['Name'] }}"
                class="w-full object-fill"
              />
            </div>
            <div
              class="meta_info py-2 px-2 w-[100%] text-[1.1rem] flex flex-col justify-between h-full"
            >
              <div>
                <p class="text-[1.2rem] font-medium">
                  {% set anime_name = anime[1]['anime_name']|trim %} {% if
                  anime_name|length > 22 %} {{ anime_name[:22] }} ... {% else %} {{
                  anime_name }} {% endif %}
                </p>
                <p class="text-gray-400 font-thin text-[0.9rem] mt-1">
                  {% set synopsis = anime[1]['Synopsis']|trim %} {% if
                  synopsis|length > 120 %} {{ synopsis[:120] }}... {% else %} {{
                  synopsis }} {% endif %}
                </p>
              </div>

              <div>
                <div class="text-gray-100 font-thin mt-5 flex flex-wrap gap-2 items-baseline">
                  {% set genres = anime[1]['Genres'].split(',') %} {% for genre
                  in genres[:3] %}
                  <span class="px-3 bg-[#3871c7] py-1 rounded-xl text-sm "
                    >{% set genre = genre|trim %} {% if
                  genre|length > 12 %} {{ genre[:9] }}... {% else %} {{
                  genre }} {% endif %}</span
                  >
                  {% endfor %}
                </div>
                <p class="mt-3 text-gray-400 text-[0.9rem]">
                  Number of users Interested:
                  <span class="ml-2">{{ anime[1]['n'] }}</span>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %} {% elif recommendation_type == "item_based" %} {% if animes is
      none %}
      <p>{{ message }}</p>
      {% elif animes.empty %}
      <p>No recommendations found for this anime.</p>
      {% else %}
      <div class="animes w-full flex ">
        <div class="flex flex-wrap justify-center ">
          {% for anime in animes.iterrows() %}
          <div
            class="card_container w-[18rem] flex flex-col rounded-2xl overflow-hidden shadow-2xl pb-2 m-3 bg-[#1c1c1cec]"
          >
            <div class="img w-[100%] flex justify-center h-[15rem] bg-gray-400">
              <img
                src="{{ anime[1]['anime_image_url'] }}"
                alt="{{ anime[1]['Name'] }}"
                class="w-full object-fill"
              />
            </div>
            <div
              class="meta_info py-2 px-2 w-[100%] text-[1.1rem] flex flex-col justify-between h-full"
            >
              <div>
                <p class="text-[1.2rem] font-medium">
                  {% set anime_name = anime[1]['Name']|trim %} {% if
                  anime_name|length > 22 %} {{ anime_name[:22] }} ... {% else %} {{
                  anime_name }} {% endif %}
                </p>
                <p class="text-gray-400 font-thin text-[0.9rem] mt-1">
                  {% set synopsis = anime[1]['Synopsis']|trim %} {% if
                  synopsis|length > 120 %} {{ synopsis[:120] }}... {% else %} {{
                  synopsis }} {% endif %}
                </p>
              </div>

              <div>
                <div class="text-gray-100 font-thin mt-5 flex flex-wrap gap-2 items-baseline">
                  {% set genres = anime[1]['Genres'].split(',') %} {% for genre
                  in genres[:3] %}
                  <span class="px-3 bg-[#3871c7] py-1 rounded-xl text-sm "
                    >{% set genre = genre|trim %} {% if
                  genre|length > 12 %} {{ genre[:9] }}... {% else %} {{
                  genre }} {% endif %}</span
                  >
                  {% endfor %}
                </div>
                <p class="mt-3 text-gray-400 text-[0.9rem]">
                  Similarity
                  <span class="ml-2">{{ anime[1]['Similarity'] }}</span>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %} {% endif %}
      <a
        class="block text-center text-2xl mt-3 hover:underline hover:underline-offset-8 mx-auto text-[#00CC99] active:underline active:underline-[#00CC99] active:underline-offset-1"
        href="{{ url_for('home') }}"
        >Go back to Home</a
      >
    </div>

    <!-- I commented your code here -->
    <!-- <div class="container-fluid">
      <h1>Recommended Animes</h1>
      {% if recommendation_type == "user_based" %} {% if animes is none %}
      <p>{{ message }}</p>
      {% elif animes.empty %}
      <p>No recommendations found for this user.</p>
      {% else %}
      <table>
        <tr>
          <th></th>
          <th>Anime Name</th>
          <th>Genres</th>
          <th>Synopsis</th>
          <th>Number of Users Interested</th>
        </tr>
        {% for anime in animes.iterrows() %}
        <tr>
          <td>
            <img
              src="{{ anime[1]['anime_image_url'] }}"
              alt="{{ anime[1]['Name'] }}"
            />
          </td>
          <td>{{ anime[1]['anime_name'] }}</td>
          <td>{{ anime[1]['Genres'] }}</td>
          <td>{{ anime[1]['Synopsis'] }}</td>
          <td>{{ anime[1]['n'] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %} {% elif recommendation_type == "item_based" %} {% if animes is
      none %}
      <p>{{ message }}</p>
      {% elif animes.empty %}
      <p>No recommendations found for this anime.</p>
      {% else %}
      <table>
        <tr>
          <th></th>
          <th>Anime Name</th>
          <th>Genres</th>
          <th>Synopsis</th>
          <th>Similarity</th>
        </tr>
        {% for anime in animes.iterrows() %}
        <tr>
          <td>
            <img
              src="{{ anime[1]['anime_image_url'] }}"
              alt="{{ anime[1]['Name'] }}"
            />
          </td>
          <td>{{ anime[1]['Name'] }}</td>
          <td>{{ anime[1]['Genres'] }}</td>
          <td>{{ anime[1]['Synopsis'] }}</td>
          <td>{{ anime[1]['Similarity'] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %} {% endif %}
      <a href="{{ url_for('home') }}">Go back to Home</a>
    </div> -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let synopsis = document.querySelector(".synopsis");
        synopsis.textContent = synopsis.textContent.trim().slice(0, 120);
        console.log(synopsis);
      });
    </script>
  </body>
</html>
